<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header', {link}) %>
    <form action="/new" method="POST" class="message-form">
      <div>
        <div class="form-input">
          <label for="message">message:</label>
          <input
            type="text"
            name="message"
            id="message"
            value="<%= formData ? formData.message : '' %>" />
        </div>
        <% if (errors && errors.message) { %>
        <p class="error-msg"><%= errors.message.msg %></p>
        <% } %>
      </div>
      <div>
        <div class="form-input">
          <label for="username">username:</label>
          <input
            type="text"
            name="username"
            id="username"
            value="<%= formData ? formData.username : '' %>" />
        </div>
        <% if (errors && errors.username) { %>
        <p class="error-msg"><%= errors.username.msg %></p>
        <% } %>
      </div>
      <button type="submit" class="btn">Send</button>
    </form>
  </body>
</html>
